# Environnement virtuel
.dtvenv/

# Données locales
bdd/db/

# Ignorer tout le contenu de data
data/*

# Réactiver le dossier test avec tout son contenu
!data/test/
!data/test/**

# Garder uniquement les fichiers .gitkeep dans les autres sous-dossiers
!data/**/.gitkeep

# Fichiers sensibles
.env

# Python cache
__pycache__/
