# Environnement virtuel
.dtvenv/

# Données locales
bdd/db/

# Ignorer tout le contenu sous data
data/**

# Garder les dossiers pour permettre aux règles suivantes de matcher
!data/
!data/*/
!data/**/*/

# Garder les fichiers .gitkeep à tous les niveaux
!data/.gitkeep
!data/*/.gitkeep
!data/**/*/.gitkeep

# Fichiers sensibles
.env

# Python cache
__pycache__/
